-
    var siteName = "Nazar V.N.T"
    var nav = [
        {
            "title": "Рерюме",
            "link": "/index.html"
        },
        {
            "title": "Контакти",
            "link": "/contacts.html"
        },
        {
            "title": "Властивості",
            "link": "/skils.html"
        }
    ]